h1{
    color: rgb(4, 65, 65);
    margin-top: 100px;
    margin-left: 10px;
}

.box{
    box-sizing: border-box;
    background-color: white;
    border-style: solid;
    border-color:rgb(4, 65, 65);
    border-width: 5px   ;
    width: 320px;
    font-size: 16px;
    padding: 0px 0px 5px 5px;
    margin: 0px 0px 10px 10px;
}

.kutija{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.icon{
    padding-right: 10px;
}

.karakteristike{
    padding-left: 5px;
    padding-right: 5px;
}
.rez{
    padding-bottom: 10px;
}

#btn{
    background-color:rgb(4, 65, 65);
    color:white;
    border-radius: 2mm;
    margin-top: 5px;
}

#btn:hover{
    background-color:rgb(7, 122, 122);
}

.text p{
    padding: 10px 10px 10px 10px;
    background-color:rgb(4, 65, 65);
    color: white;
    border-radius: 2mm;
}

.text{
    width: 50%;
    padding: 0px 5px 5px 5px;
    margin: 0px 5px 5px 5px; 
    text-align: justify;
}



