* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 50%;
    padding: 10px;
    padding-bottom: 100px;
    margin: auto;
  }

  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides img {
    height: 480px;
  }
  
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color:  rgb(7,122,122);
    font-size: 30px;
  }