 body {
  font-family: Arial, Helvetica, sans-serif;
 
}

/*HEADER*/

#header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  
}
.content {
  margin-top: 90px;
  z-index:1;

  transition: all 1s;
  transition-timing-function: linear;
  
}




.navbar {
  overflow: hidden;
  background-color: #333;
 
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(7,122,122);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  
.logo img{
  width:50px;
  height:50px;
}

.navbar{
  display: flex;
  background-color: rgb(4, 65, 65);
}

.menu{
  justify-content: flex-end;
  padding-top: 18px;
  
}
.logo{
  flex:1;
}

.logo-ime{
  padding-top: 18px;
}



/*FOOTER*/


#footer{
  background-color: rgb(4, 65, 65);
  margin-bottom: 0;
  padding: 0 0 30px 0;
}
.footer-div{
  display: flex;
  margin-left: 180px;
  margin-right:180px;
  padding-top:20px;
}
.footer-div h4{
  color: white;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
}

#footer .footer-div .meni-footer ul a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
#footer .footer-div .meni-footer ul a:hover{
  color: rgb(7,122,122);
}

#footer .footer-div .meni-footer ul li {
  border-bottom: 1px solid rgb(77, 95, 95);
  padding: 10px 0;

}

.meni-footer{
  flex:1;
}

#footer .footer-div .kontakt-footer p{
  padding-left: 25px;
  line-height: 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color:white;
}

.kontakt-footer{
  flex:1;
}



#footer .footer-div .primedbe p{
  color: white;
  text-align: left;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.primedbe{
  flex:1;
}
.potencijalni-kalendar{
  flex:1;
}
.social-links{
  margin-left: 30px;
}
.social-links img{
  width:30px;
  height: 30px;
  
}

body{
  margin:0;

}

#footer .copyright{
padding-top:50px;
text-align: center;

}

@media (max-width:800px){
  .flex-container{
      flex-direction: column;
  }
}