
body {
    background: rgb(255, 255, 255);
    color: #0f0d0d;
    font-family: "Open Sans", sans-serif;
  }

  a {
    color: #faf8f8;
    transition: 0.5s;
  }

.header {
    padding: 30px 0;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: rgb(13, 95, 95);
  }

  a:hover, a:active, a:focus {
    color: #0b373f;
    outline: none;
    text-decoration: none;
  }

  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  .back-to-top {
    position: fixed;
    display: none;
    background: rgb(169, 215, 236);
    color: rgb(14, 1, 1);
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }

  .back-to-top i {
    padding-top: 12px;
    color: rgb(7, 1, 1);
  }

  .meni, .meni * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .meni ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .meni li {
    position: relative;
    white-space: nowrap;
  }
  
  .meni > li {
    float: left;
  }
  
  .meni li:hover > ul,
  .meni li.sfHover > ul {
    display: block;
  }
  
  .meni ul ul {
    top: 0;
    left: 100%;
  }
  
  .meni ul li {
    min-width: 180px;
  }

  .stranice {
    float: right;
    margin: 0;
    justify-content: end;
  }

  
