
/*body {
    background: rgb(255, 255, 255);
    color: #0f0d0d;
    font-family: "Open Sans", sans-serif;
  }

  a {
    color:hsl(175, 92%, 48%) ;
    transition: 0.5s;
    text-decoration: none;
  }

  .navmeni-container{

    color: white;
    display: grid;
    justify-content: right;
    grid-gap: 100px;
    
    grid-template-columns:auto auto;

  }
  .navmeni-container ul li{
    padding:10px;
  }



#header {
  
    overflow: auto;
    padding: 15px;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: rgb(7, 58, 58);
  }
  
/*******************/




/*.flex-row { 
	align-content: space-around;
}
*/

/*********************/

h4{
  color: #000;
}
#footer {
  background:rgb(0, 3, 3);
  color:  rgb(7, 58, 58);
  
  font-size: 12px;
}

#footer .footer-top {
  background: rgb(7, 58, 58);
  padding: 300px 30px 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
  border-left: 4px;
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 20px 0 2px 10px;
  line-height: 1;
  font-family:"Open Sans", sans-serif; 
  font-weight: 700;
  letter-spacing: 3px;

}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}


#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}


#footer .copyright {
  text-align: center;
  padding-top: 10px;
}


#glavni {
  margin-top: 80px;
  padding: 60px 0 40px 0;
}


#glavni::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(247, 245, 245, 0.92);
  
}

#glavni .container {
  position: relative;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 20px 0 50px 0;
  line-height: 24px;
}


.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}



.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

a:hover, a:active, a:focus {
    color:azure;
    outline: none;
    text-decoration: aqua;
  }

  p {
    color:hsl(175, 92%, 48%) ;
    padding: 0;
    margin: 0 50px 30px 0;
    
  }
  
 

  

  .meni, .meni * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .meni ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .meni li {
    position: relative;
    white-space: nowrap;
  }
  
  .meni > li {
    float: left;
  }
  
  .meni li:hover > ul,
  .meni li.sfHover > ul {
    display: block;
  }
  
  .meni ul ul {
    top: 100%;
    left: 100%;
  }
  
  .meni ul li {
    min-width: 180px;
  }


  
 

 body {
  font-family: Arial, Helvetica, sans-serif;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  
.logo img{
  width:50px;
  height:50px;
}

.navbar{
  display: flex;
  background-color: rgb(4, 65, 65);
}

.menu{
  justify-content: flex-end;
  padding-top: 18px;
  
}
.logo{
  flex:1;
}

.logo-ime{
  padding-top: 18px;
}